/*
	Global variables not changed by colour theme
*/

body {
    --transition-primary: 100ms linear;
}

/*
	Fallback if user hasn't set a colour theme preference
*/

body {
    --kestrel-primary: #fafafa;
    --kestrel-secondary: #404040;
    --kestrel-tertiary: #f1f2f3;
    --kestrel-quaternary: #212121;
}

@media (prefers-color-scheme: dark) {
    body {
        --kestrel-primary: #212121;
        --kestrel-secondary: #fafafa;
        --kestrel-tertiary: #404040;
        --kestrel-quaternary: #b9bec5;
    }
}

body {
    width: 600px;
    padding: 0;
    margin: 0;
    background: var(--kestrel-primary);
}

/*
	Container for all kestrel-related things
*/

.kestrel {
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    font-weight: normal;

    width: 100%;
    max-width: 800px;

    margin: 0;
    animation: none;
    transition: none;
}

.kestrel:focus {
    outline: none;
}

.kestrel > * {
    transition: none !important;
    animation: none !important;
}

/*
	Command input, where user types to filter commands
*/

input[type='text'].kestrel-command-input {
    background: var(--kestrel-primary);
    color: var(--kestrel-secondary);

    box-sizing: border-box;
    font-size: 16pt !important;
    border: none;
    border-bottom: 1px solid var(--kestrel-quaternary);
    border-radius: 0px;
    width: 100%;

    padding: 1rem 0.75rem !important;
    margin: 0;
    transition: none;
    animation: none;
}

/*
	Container for commands
*/

.kestrel-commands-container {
    width: 100%;
    max-height: 400px;
    border: none;
    border-radius: 2px;
    margin: 0;
    overflow-x: hidden;
}

/*
	Commands
*/

.kestrel-command-item {
    width: 100%;
    display: block;
    padding: 5px 10px !important;
    margin: 0;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    background: var(--kestrel-primary);
    color: var(--kestrel-secondary);
    cursor: pointer;
}

/*
	Currently focused command
	Background is lighter than others
*/

.kestrel-command-item-focused {
    background: var(--kestrel-tertiary);
    transition: var(--transition-primary);
}

/*
	Hides item from view
	In practice this is used in the main container (`kestrel` class)
	to prevent it from showing until its children are built
*/

.kestrel-hidden {
    display: none;
    animation: none;
    transition: none;
}
