/* page-action specific styling */

html {
    border: none;
}

body {
    margin: 0;
    padding: 0;
    font-size: 12pt;
    min-height: 100px;
    min-width: 200px;
}

* {
    margin: 0;
    animation: none;
}

/* status notification */
.banner {
    width: 100%;
}

/* failure notification */
.f {
    background: crimson;
}

/* success notification */
.s {
    background: var(--highlight);
}

/* */
.special {
    color: var(--highlight);
    cursor: pointer;
}

.special:hover {
    text-decoration: underline;
}
