/* page-action specific styling */

html {
    border: none;
}

body {
    margin: 0;
    padding: 0;
    font-size: 12pt;
    min-height: 100px;

    display: flex;
    flex-flow: row nowrap;
    flex: 1;
    justify-content: center;
    align-content: center;
}

* {
    margin: 0;
    animation: none;
}

.menu {
    max-width: 25%;
    padding: 5px;
    margin: 0;
    border-left: 2px solid var(--tertiary);
}

.menu:first-child {
    border: none;
}

#breadcrumbs > * {
    text-overflow: ellipsis;
    margin: 1% 0;
    padding: 0;
    display: block;
    overflow: hidden;
}

/* status notification */
.banner {
    width: 100%;
}

/* failure notification */
.f {
    background: crimson;
}

/* success notification */
.s {
    background: var(--highlight);
}

/* */
.special {
    color: var(--highlight);
    cursor: pointer;
}

.special:hover {
    border-bottom: underline;
}
