/* page-action specific styling */

html {
    border: none;
}

body {
    margin: 0;
    padding: 0;
    font-size: 12pt;
    min-height: 100px;
    min-width: 500px;
}

.toggle-container,
.menus {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    justify-content: center;
    align-content: center;

    min-width: 300px;
}

.toggle-container > * {
    font-size: 14pt;
}

* {
    margin: 0;
    animation: none;
}

.menu {
    padding: 5px;
    margin: 0;
}

.menu:first-child {
    border: none;
}

#breadcrumbs > * {
    text-overflow: ellipsis;
    margin: 1% 0;
    padding: 0;
    display: block;
    overflow: hidden;
}

/* status notification */
.banner {
    width: 100%;
}

/* failure notification */
.f {
    background: crimson;
}

/* success notification */
.s {
    background: var(--highlight);
}
