:root {
	--highlight: #16c581;

	--primary: #fafafa;
	--secondary: #212121;
	--tertiary: #e1e1e1;

	--heading-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	--text-font: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary: #212121;
		--secondary: #fafafa;
		--tertiary: #404040;
	}
}

html { border-top: 2px solid var(--highlight) }

body {
	background: var(--primary);
	color: var(--secondary);
	font-family: var(--text-font);
	max-width: 850px;
	margin: 0 auto;
	padding: 10px;
	font-size: 115%;
}

* {
	transition: 0.2s cubic-bezier(0.54, 0.39, 0.37, 0.98);
}

h1 { margin: 1% auto }

h1, h2, h3, h4, h5, h6 {
	font-weight: lighter;
	font-family: var(--heading-font);
}

.nav {
	margin: 2% auto 2% 0;
	padding: 3px 3px 3px 0;
	width: 100%;
}

.nav a,
.nav a:visited {
	color: var(--highlight);
	margin: 0.5% 2% 0.5% 0%;
	padding: 1px;
	opacity: 0.7;
	width: auto;
	border: none;
}

.nav a:hover {
	opacity: 1;
}

select,
select > * {
	padding: 5px;
	font-size: 12pt;
	background-color: var(--primary);
	color: var(--secondary);
	border: 2px solid var(--tertiary);
}

table {
	border: 2px solid var(--tertiary);
	width: 100%;
	padding: 3px 10px;
	border-collapse: collapse;
}

thead {
	border: none;
}

th {
	border: none;
	background-color: var(--tertiary);
	padding: 8px 20px;
	text-align: left;
	font-size: 16pt;
	font-weight: bold;
}

th:first-of-type {
	border-right: 2px solid var(--primary);
}

tr {
	border-bottom: 2px solid var(--tertiary);
}

tr td:first-of-type {
	width: 70%;
}

tr td:last-of-type {
	width: 30%;
}

td {
	padding: 0px 10px;
}

td > * {
	margin: 0.2% 0;
	padding: 10px;
	font-size: 14pt;
}

td > input[type="checkbox"] {
	width: 2px;
	height: 2px;
	position: relative;
	background-color: var(--tertiary);
	box-sizing: content-box;
	appearance: none;
	-webkit-appearance: none;
	cursor: pointer;
}

td > input[type="checkbox"]:checked {
	background-color: var(--highlight);
}

td > input[type="checkbox"]:checked::after {
	content: "✓";
	position: absolute;
	left: 0%;
	top: 0%;
	transform: translate(25%, -10%);
}

input[type="reset"], input[type="button"] {
	background-color: var(--tertiary);
	color: var(--secondary);
	padding: 5px 10px;
	font-size: 12pt;
	border: none;
	cursor: pointer;
}

input[type="reset"]:hover, input[type="reset"]:focus, input[type="button"]:hover, input[type="button"]:focus {
	background-color: var(--highlight);
}

.confirm-reset > * {
	margin: 2% 2% 2% 0;
}

.hidden {
	display: none;
	animation: 300ms fadeIn linear;
}

@keyframes fadeIn {
	0% { opacity: 0 }
	100% { opacity: 1 }
}

:disabled { opacity: 0.7 }