/* Light theme variant */

:root {
	--highlight: #16c581;

	--primary: #fafafa;
	--secondary: #212121;
	--tertiary: #e1e1e1;
}

.kestrel {
	--kestrel-primary: #fafafa;
	--kestrel-secondary: #404040;
	--kestrel-tertiary: #f1f2f3;
	--kestrel-quaternary: #212121;
}